<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OtherViews.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>402E25121E63C1B0006B525D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>402E252B1E63C1B0006B525D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>402E25361E63C1B0006B525D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
